body {
	font-family: sans-serif, Arial, Helvetica;
}

section {
	max-width: 750px;
  margin: auto;
}

h2 {
	font-size: 1.25em;
	font-weight: 500;
	text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em;
  color: #7b7b7b;
  font-size: 12px;
}

table thead th {
  vertical-align: bottom;
  text-align: inherit;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  position: relative;
}

table td, table th {
  padding: .75rem;
}

table th {
  color: #1f3986;
  font-weight: 500;
}

table td {
	font-weight: 100;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f9fd;
}

.currency {
	border: 2px solid #5b8ab1;
	border-radius: 50%;
	font-size: 1.5em;
	font-weight: 500;
	padding: 5px 10px 5px 11px;
	color: #fb5e2c;
}

.ticker-tape {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  font-weight: 100;
  text-align: center;
}

.ticker-tape:empty:before {
  content: "Loading ticker...wait for 10 sec";
  opacity: .5;
}

.ticker-tape b {
  font-weight: 500;
}

.ticker-tape i.up:after {
  content: "↑";
  color: #009900;
}

.ticker-tape i.down:after {
  content: "↓";
  color: #cc0000;
}

.ticker-tape i.nochange:after {
  content: "↔";
  color: blue;
}

.ticker-tape i.seperator:after {
  content: "|";
  color: #fb5e2c;
  padding: 0 5px;
}

.ticker-tape span {
  font-size: .65em;
  color: #717070;
  padding: 8px 0 0 0;
  display: inline-block;
}

footer {
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  padding: 100px 0 10px 0;
  font-size: .75em;
  color: #212020;
}
